 <header class="header"></header>
      <a
        class="header__brand"
        href="./"
        title="Haz click para volver a la página inicial"
      >
        <img class="header__subtitle" src="../../web/src/images/titulo.png" alt="setProject" />
      </a>
      <img class="logoAdalab" src="../../web/src/images/adalablogo.png" alt="Logo Adalab" />
    </header>