.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview .projectImage {
  background-size: contain;

  /* background-color: white; */
  aspect-ratio: initial;
  height: 350px;
  background-position: center;
  margin: auto;
  /* border: 30px solid white; */
}
.preview .card {
  transform: none;
  max-width: 600px;
}

.container {
  min-height: 100vh;
  padding-bottom: 30px;
}

.back {
  margin-top: 20px;
  background-color: #77dafc;
}

.link {
  position: relative;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  border: none;

  padding: 0px 3px;
  color: black;
  font: bold 1rem "Gloria Hallelujah", sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}
