.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview .projectImage {
  background-size: contain;

  /* background-color: white; */
  aspect-ratio: initial;
  height: 350px;
  background-position: center;
  margin: auto;
  /* border: 30px solid white; */
}
.preview .card {
  transform: none;
  max-width: 600px;
}

.container {
  min-height: 100vh;
  padding-bottom: 30px;
}
